@font-face {
    font-family: 'Apercu';
    src: url('/public/fonts/Apercu Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/public/fonts/Apercu Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apercu';
    src: url('/public/fonts/Apercu Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
