@font-face {
    font-family: 'Inter Tight';
    src: url('/public/fonts/InterTight-Light.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/public/fonts/InterTight-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/public/fonts/InterTight-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
